@{
    ViewData["Title"] = "Welcome";
}

<h2>Welcome</h2>

<ul>
    <!-- A for loop that displays "Hello" "NumTimes"-->
    @for (int i=0; i<(int)ViewData["NumTimes"]!;i++)
    {
        <li>@ViewData["Message"]</li>

    }

</ul>
